@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600|Josefin+Slab:300,400,600');

/*Eric Meyer CSS Reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/*Eric Meyer CSS Reset */

body{
  max-width: 940px;
  background-color: #F2F4F3;
  margin: auto;
}

h1, h2, p{
  color: #68B0AB;
  padding-bottom: 20px;
}

h1{
   padding-top: 15px;
   font-size: 30px;
   font-weight: 600;
   font-family: 'Josefin Slab', serif;
   color: #4D4D50;
   text-align: center;
  }

h2{
  font-size: 24px;
  font-family: 'Josefin Slab', serif;
  color: #4D4D50;
  padding-top: 15px;
}

p {
  padding: 10px;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: #22333B;
}

span{
  text-decoration:underline;
  text-decoration-color: #22333B;
}
